body {
    background-color: #dadfe1;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    font-weight: 300;
    color: #5c5c5c;
    overflow-y: scroll;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?xpq0qm');
    src: url('../fonts/icomoon.eot?xpq0qm#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?xpq0qm') format('truetype'), url('../fonts/icomoon.woff?xpq0qm') format('woff'), url('../fonts/icomoon.svg?xpq0qm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.wrapper {
    position: absolute;
    top: 1.9375rem;
    left: 1.5rem;
    width: 3.5625rem;
    height: 3.75rem;
}

.wrapper .author {
    width: 1.25rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid #c7ced1;
}

.wrapper .author a {
    font-size: .4375rem;
    font-weight: 300;
    color: #262c2e;
}

.wrapper p {
    font-size: .2rem;
    line-height: 1.8;
    margin: .3125rem 0;
}

.wrapper nav {
    width: .7125rem;
    display: flex;
    flex-direction: column;
    padding: .3125rem 0;
    border-top: 1px solid #c7ced1;
}

nav span {
    padding: .05rem 0;
}

nav span a {
    font-size: .1625rem;
}

nav span a:nth-child(1) {
    color: #384144;
}

nav span a:hover {
    color: #384144;
}

.wrapper>a {
    color: #b3bdc1;
    transition: all .3s;
}

.wrapper>a:hover {
    color: #6b787d;
}


/* section部分 */

section {
    position: absolute;
    top: 1.375rem;
    right: 1.375rem;
    width: 11.1875rem;
}

section>div {
    position: relative;
    width: 100%;
    /* height: 1096px; */
    margin-bottom: 1.375rem;
    border-radius: .125rem;
    overflow: hidden;
    background-color: #fff;
    vertical-align: middle;
}

section .section1 {
    width: 100%;
    height: 6.3125rem;
    cursor: pointer;
}

.section1 .icon-pacman {
    position: absolute;
    bottom: .6875rem;
    left: .625rem;
}

.section1 .sec-time {
    position: absolute;
    bottom: .7125rem;
    left: .9375rem;
    color: #ebebeb;
}

.sec1-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.3125rem;
    background-color: #111;
    opacity: 0.7;
    border-radius: .125rem;
    display: none;
}

.sec-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.6rem;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
    font-size: .175rem;
    letter-spacing: 1px;
    color: #ebebeb;
    line-height: 1.6rem;
    padding-left: .625rem;
}

section>div img {
    width: 100%;
    height: 6.3125rem;
}

.section .content {
    width: 9.7875rem;
    margin-left: .7rem;
    padding-bottom: .7rem;
    margin-bottom: .7rem;
    border-bottom: 1px solid #ebebeb;
}

.section .content h1 {
    font-size: .5rem;
    font-weight: 200;
    color: #343434;
    margin: .7rem 0;
}

.section .content p {
    font-size: .2rem;
    letter-spacing: .025rem;
    color: #5c5d5d;
    line-height: 1.5;
    margin-bottom: .75rem;
}

.section .content p::after {
    content: '...';
}

.section .content span {
    border: 1px solid #c2c2c2;
    border-radius: .0375rem;
    padding: .0375rem .0625rem;
    margin-right: .1rem;
}

.section .content span a {
    color: #c2c2c2;
    padding-left: 1px;
}

.sec-footer {
    padding: 0 0 .95rem .7rem;
}

.sec-footer .icon-pacman {
    float: left;
}

.icon-pacman::before {
    color: #ebebeb;
    font-size: .25rem;
}

.sec-footer .sec-time {
    position: relative;
    top: 0;
    left: .0375rem;
    float: left;
    font-size: .175rem;
    color: #ebebeb;
    z-index: 1;
}

.section .icon-pacman {
    color: #d6d6d6;
}

.section .sec-time {
    color: #c2c2c2;
}


/* pagitation部分 */

.pagination {
    padding-bottom: 1.5rem;
    color: #a5b1b6;
    font-size: .175rem;
}

.pagination .next {
    float: right;
}

.pagination .next a {
    font-size: .175rem;
}

.pagination .line {
    float: right;
    width: 1px;
    height: .375rem;
    background-color: #c7ced1;
    margin: 0 .1875rem;
}

.pagination .prev {
    float: right;
}

.pagination .prev a {
    font-size: .175rem;
}

.pagination a {
    color: #384144;
}