body {
    background-color: #ededed;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
}

.w {
    width: 1200px;
    margin: 52px auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 1536px;
    height: 792px;
    background-color: #111;
    opacity: 0.6;
    z-index: 998;
    display: none;
}

.loading {
    position: absolute;
    bottom: 60px;
    left: 735px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform-origin: center center;
    animation-name: rotate;
    animation-duration: 1s;
    z-index: 99999;
}

.loading::before {
    content: '\f01e';
    font-family: 'icomoon';
    color: #fff;
    font-size: 25px;
}


/* header部分 */

header {
    background-color: #fff;
    height: 700px;
}

.headerbar {
    position: relative;
    width: 100%;
    height: 150px;
}

.headerbar .logo {
    position: absolute;
    top: 50px;
    left: 90px;
}

.headerbar .logo a {
    color: #111;
    font-weight: 700;
    font-size: 35px;
}

.headerbar .setting {
    position: absolute;
    top: 60px;
    right: 90px;
}

.headerbar .setting img {
    width: 80%;
    cursor: pointer;
}

.textbar {
    text-align: center;
    width: 100%;
    margin-top: 125px;
}

.textbar h1 {
    color: #444;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 45px;
}

.textbar p {
    color: #666;
    font-size: 16px;
    margin-bottom: 45px;
}


/* relate部分 */

.relate {
    position: fixed;
    top: 0;
    left: 100%;
    width: 35%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
}

.relate>i {
    position: absolute;
    top: 60px;
    left: 75px;
    font-size: 40px;
    color: #000;
    cursor: pointer;
}

.relate .relate-nav {
    position: absolute;
    top: 125px;
    right: 80px;
    width: 100px;
}

.relate .relate-nav>li {
    margin-bottom: 40px;
}

.relate .relate-nav li>a {
    font-size: 25px;
    color: #444;
}

.relate .relate-nav .relate-socialist li {
    display: block;
    width: 50px;
    margin-top: 5px;
}

.relate .relate-nav .relate-socialist li a {
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: right;
    color: #777;
    text-align: right;
}


/* footer部分 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?xpq0qm');
    src: url('../fonts/icomoon.eot?xpq0qm#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?xpq0qm') format('truetype'), url('../fonts/icomoon.woff?xpq0qm') format('woff'), url('../fonts/icomoon.svg?xpq0qm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

footer {
    position: relative;
    width: 100%;
    height: 336px;
    background-color: #fff;
}

footer .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 135px;
    transform: translate(-50%, -50%);
}

footer .text {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    padding-top: 6px;
    color: #666;
}

footer .text a {
    color: #666;
    text-decoration: none;
}

footer .box .social {
    width: 15%;
    height: 15%;
    margin: 20px auto 0;
}

.social .fontIcon1 a::before {
    font-family: 'icomoon';
    content: "\ea9a";
}

.social .fontIcon2 a::before {
    font-family: 'icomoon';
    content: "\e900";
}

.social .fontIcon3 a::before {
    font-family: 'icomoon';
    content: "\eab0";
}

.social .fontIcon4 a::before {
    font-family: 'icomoon';
    content: "\e901";
}

.social .fontIcon a {
    font-size: 15px;
    color: #666;
    margin-right: 36px;
}

.social .fontIcon:last-child a {
    margin-right: 0;
}

.social .fontIcon a:hover {
    color: #2d2d2d;
}