/* header部分 */

.textbar span a {
    color: #b3b3c4;
    font-size: .175rem;
    margin: 0 .125rem;
}


/* section部分 */

section {
    text-align: center;
    background-color: #f7f7f7;
    padding: 1.25rem 0;
}

section img {
    width: 12.75rem;
    height: 8.5rem;
}

section img:nth-child(2) {
    margin: .4rem 0;
}