body {
    height: 10.375rem;
    background-color: #dadfe1;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    font-weight: 300;
    color: #5c5c5c;
    overflow-y: scroll;
    letter-spacing: 1px;
}

.wrapper {
    position: absolute;
    top: 1.9375rem;
    left: 1.5rem;
    width: 3.5625rem;
    height: 3.75rem;
}

.wrapper .author {
    width: 1.25rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid #c7ced1;
}

.wrapper .author a {
    font-size: .4375rem;
    font-weight: 300;
    color: #262c2e;
}

.wrapper p {
    font-size: .2rem;
    line-height: 1.8;
    margin: .3125rem 0;
}

.wrapper nav {
    width: .7125rem;
    display: flex;
    flex-direction: column;
    padding: .3125rem 0;
    border-top: 1px solid #c7ced1;
}

nav span {
    padding: .05rem 0;
}

nav span a {
    font-size: .1625rem;
}

nav span a:nth-child(1) {
    color: #384144;
}

nav span a:hover {
    color: #384144;
}

.wrapper>a {
    color: #b3bdc1;
    transition: all .3s;
}

.wrapper>a:hover {
    color: #6b787d;
}


/* article模块 */

article {
    position: absolute;
    top: 1.375rem;
    right: 1.375rem;
    width: 11.1875rem;
    /* height: 1636px; */
    border-radius: .0625rem;
    background-color: #fff;
    padding: 1.35rem 0 1rem .7rem;
}

article h1 {
    font-family: "宋体";
    font-size: .475rem;
    font-weight: 300;
    color: #343434;
}

article a {
    font-size: .2125rem;
    color: #ff0101;
    border-bottom: 1px dotted #ff0101;
}

article ul {
    padding-left: .25rem;
    margin-bottom: .375rem;
}

article ul li {
    font-size: .2125rem;
    list-style: disc;
    margin-top: .325rem;
}

article ul li:first-child {
    margin-top: .5625rem;
}

article>div {
    width: 9.775rem;
    padding: .225rem 0 .225rem .2rem;
    background-color: #f5f5f5;
    border-left: .05rem solid #ff0101;
    font-size: .2125rem;
}